.page-index {
    .top {
        padding: 5em 0;
        > .container {
            position: relative;
        }
        &-img {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translateY(-50%);
            mix-blend-mode: lighten;
        }
        @include media-breakpoint-down(sm){
            background: url('../img/login.png') no-repeat right -40px bottom -40px;
            background-size: contain;
            &-img,&-text{
                visibility: hidden;
            }
        }
    }
    .logos {
        position: relative;
        padding: 1.5em 0;
        @include bg-blue-gd;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 3px;
            @include border-gold;
            filter: drop-shadow(0 0 1em #e5d9b0);
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        &-bg{
            position: absolute;
            bottom: 70%;
            right: 0;
            @include media-breakpoint-up(md){
                bottom: -50%;
            }
        }
        &-slider {
            &-item {
                padding: 0em 1em;
                text-align: center;
            }
            .slick {
                &-track {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .login {
        position: relative;
        padding: 5em 0;
        overflow: hidden;
        > .container {
            position: relative;
        }
        &-img {
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translateY(-50%);
            mix-blend-mode: lighten;
            @include media-breakpoint-down(sm){
                display: none;
            }
        }
        &-jackpot {
            text-align: center;
            &-count {
                background: url("../img/bg-jackpot-count.png") no-repeat center
                    center/contain;
                color: gold;
                text-align: center;
                font-size: 2em;
                font-weight: 600;
                line-height: 1;
                padding: .5em 0 .4em;
                span{
                    @include text-gold-gd;
                }
            }
        }
        &-form {
            &-input{
                position: relative;
                background-color: rgba($primary,.1);
                padding: 1em 1.5em;
                border: 1px solid rgba($primary,.15);
                .light{
                    &-img{
                        position: absolute;
                        mix-blend-mode: screen;
                        &-top{
                            top: calc(-92px / 2);
                            left: 0;
                        }
                        &-bottom{
                            bottom: calc(-92px / 2);
                            right: 0;
                        }
                    }
                }
            }
            .form-control {
                background-color: transparent;
                border-width: 0 0 1px;
                border-radius: 0;
                border-color: $primary;
                color: $primary;
                padding-left: 3em;
                font-size: 1.5em;
                &::placeholder {
                    color: $primary;
                }
                &:focus {
                    box-shadow: none;
                }
                &-username {
                    background: url("../img/icon-username.svg") no-repeat left
                        center/contain;
                }
                &-password {
                    background: url("../img/icon-password.svg") no-repeat left
                        center/contain;
                }
            }
        }
        &-btn {
            filter: drop-shadow(0 0 0.25em rgba(white, 0.5));
            @include hover {
                filter: drop-shadow(0 0 0.5em rgba(white, 0.5)) saturate(1.5);
            }
        }
    }
    .promotion {
        padding-bottom: 5em;
        &-heading {
            text-align: center;
            margin-bottom: 5em;
            position: relative;
            overflow: hidden;
            &::before,&::after{
                content: '';
                position: absolute;
                top: 50%;
                height: 3px;
                transform: translateY(-50%);
                @include border-gold;
            }
            &::before{
                left: 0;
                right: calc(50% + (200px / 2));
            }
            &::after{
                left: calc(50% + (200px / 2));
                right: 0;
            }
            @include media-breakpoint-up(lg){
                &::before{
                    right: calc(50% + (533px / 2));
                }
                &::after{
                    left: calc(50% + (533px / 2));
                }
            }
        }
        &-link{
            display: block;
            @include hover{
                img{
                    filter: brightness(1.25) saturate(1.25) drop-shadow(0 0 1em rgba(white,.25));
                }
            }
        }
    }
}
